html/dev/layout/content.html

<section>
  <div class="banner" style="background-image:url(img/image.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="desc">
            <div class="logo"><img src="img/logo.png" alt="#"/></div>
            <h1>РЕЦЕПТ СЧАСТЬЯ</h1>
            <p>Не тратьте свою жизнь на ожидание счастья, лучшее время для того, чтобы стать счастливой - сейчас!</p>
            <h4>+ Книга в подарок</h4><a class="button" href="#">Призыв к действию</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>КАКУЮ ПОМОЩЬ ВЫ МОЖЕТЕ<br/>У НАС ПОЛУЧИТЬ</h2>
          <h4>Наш рецепт счастья – это сочетание гармонии в душе и материализации желаний в<br/>реальной жизни. Древние магические знания и новейшие<br/>достижения современной науки в области психологии – у нас есть все, чтобы<br/>помочь вам<span>СТАТЬ СЧАСТЛИВОЙ.</span></h4>
          <div class="desc">
            <div class="left-block">
              <p>Уникальность нашего предложения в том, что у нас вы можете получить комплексную помощь – магические ритуалы для исполнения ваших желаний, а также психологическую проработку вашей жизненной проблемы для более глубокого и всестороннего ее решения.</p>
              <p>Обратившись к нам, вы сможете в полной мере стать свидетелем того, как работает реальная магия. Увидеть, как меняется действительность, в которой вы счастливы и живёте в полной гармонии с собой и окружающим миром. То, что мы практикуем - это магия, какой она была тысячи лет назад, в ее истинном понимании и значении. Это ничего общего не имеет с пиаром абсолютно далеких от магической жизни людей и их агентов, сотнями сидящих в call-центрах для якобы магических ответов на ваши вопросы.</p>
            </div>
            <div class="right-block"><img src="img/img-1.jpg" alt="#"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="articles">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="items">
            <div class="sizer"></div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>КАКИЕ ПРОБЛЕМЫ МЫ РЕШАЕМ</h2>
          <div class="desc">
            <div class="left-block">
              <p>Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)</p>
              <p>Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)</p>
              <p>Снятие магического наведенного негатива (сглаза, порчи, проклятья, в том числе родового)</p>
              <p>Защита от магического негатива, от врагов и завистников.</p>
              <p>Наведение порчи любой сложности в любой сфере.</p>
              <p>Решение кармических проблем. У каждого человека есть такие проблемы, которые он не в состоянии решить в одиночку. Если вы годами ходите по одним и тем же граблям, знаете какую-то свою черту характера, которая создает вам массу проблем, но никак не можете избавиться от этой черты - знайте, что вы имеете дело с вашей кармой, которая требует проработки.</p>
              <p>Похудение, омоложение и другие ритуалы на красоту и привлекательность.</p>
            </div>
            <div class="right-block"><img src="img/image-4.jpg" alt="#"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Форма захвата</h2>
          <p>Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)<br/>Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)</p>
          <form>
            <div class="input">
              <input type="text" placeholder="Ваше имя"/>
            </div>
            <div class="input">
              <input type="email" placeholder="Ваш Email"/>
            </div>
            <div class="input">
              <input type="submit" value="Призыв к действию"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="cat-sections">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <ul class="articles-button">
            <li><a href="#">Рубрика 1</a></li>
            <li><a href="#">Рубрика 2</a></li>
            <li><a href="#">Рубрика 3</a></li>
            <li><a href="#">Рубрика 4</a></li>
            <li><a href="#">Рубрика 5</a></li>
          </ul>
          <div class="items">
            <div class="sizer"></div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-3.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item">
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-1.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
            <div class="item"><img src="img/image-2.jpg" alt="#"/>
              <h5>Вы старались соответствовать родительским ожиданиям, но они все равно не довольны</h5>
              <p>… « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.</p><a class="link" href="#"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="description">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Информация о книге</h2>
          <div class="desc">
            <div class="left-block">
              <p>Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)</p>
              <p>Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)</p>
              <p>Снятие магического наведенного негатива (сглаза, порчи, проклятья, в том числе родового)</p>
              <p>Решение кармических проблем. У каждого человека есть такие проблемы, которые он не в состоянии решить в одиночку. Если вы годами ходите по одним и тем же граблям, знаете какую-то свою черту характера, которая создает вам массу проблем, но никак не можете избавиться от этой черты - знайте, что вы имеете дело с вашей кармой, которая требует проработки.</p><a class="button" href="#">Призыв к действию</a>
            </div>
            <div class="right-block"><img src="img/image-5.jpg" alt="#"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/content.pug
section
	.banner(style="background-image:url(img/image.jpg);")
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.desc
						.logo
							img(src="img/logo.png", alt="#")
						h1 РЕЦЕПТ СЧАСТЬЯ
						p Не тратьте свою жизнь на ожидание счастья, лучшее время для того, чтобы стать счастливой - сейчас!
						h4 + Книга в подарок
						a.button(href="#") Призыв к действию
	.description
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 КАКУЮ ПОМОЩЬ ВЫ МОЖЕТЕ
						br
						| У НАС ПОЛУЧИТЬ
					h4 Наш рецепт счастья – это сочетание гармонии в душе и материализации желаний в
						br
						| реальной жизни. Древние магические знания и новейшие
						br
						| достижения современной науки в области психологии – у нас есть все, чтобы
						br
						| помочь вам
						span СТАТЬ СЧАСТЛИВОЙ.
					.desc
						.left-block
							p Уникальность нашего предложения в том, что у нас вы можете получить комплексную помощь – магические ритуалы для исполнения ваших желаний, а также психологическую проработку вашей жизненной проблемы для более глубокого и всестороннего ее решения.
							p Обратившись к нам, вы сможете в полной мере стать свидетелем того, как работает реальная магия. Увидеть, как меняется действительность, в которой вы счастливы и живёте в полной гармонии с собой и окружающим миром. То, что мы практикуем - это магия, какой она была тысячи лет назад, в ее истинном понимании и значении. Это ничего общего не имеет с пиаром абсолютно далеких от магической жизни людей и их агентов, сотнями сидящих в call-центрах для якобы магических ответов на ваши вопросы.
						.right-block
							img(src="img/img-1.jpg", alt="#")
	.articles
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.items
						.sizer
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
	.description
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 КАКИЕ ПРОБЛЕМЫ МЫ РЕШАЕМ
					.desc
						.left-block
							p Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)
							p Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)
							p Снятие магического наведенного негатива (сглаза, порчи, проклятья, в том числе родового)
							p Защита от магического негатива, от врагов и завистников.
							p Наведение порчи любой сложности в любой сфере.
							p Решение кармических проблем. У каждого человека есть такие проблемы, которые он не в состоянии решить в одиночку. Если вы годами ходите по одним и тем же граблям, знаете какую-то свою черту характера, которая создает вам массу проблем, но никак не можете избавиться от этой черты - знайте, что вы имеете дело с вашей кармой, которая требует проработки.
							p Похудение, омоложение и другие ритуалы на красоту и привлекательность.
						.right-block
							img(src="img/image-4.jpg", alt="#")
	.form
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Форма захвата
					p Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)
						br
						| Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)
					form
						.input
							input(type="text" placeholder="Ваше имя")
						.input
							input(type="email" placeholder="Ваш Email")
						.input
							input(type="submit" value="Призыв к действию")
	.cat-sections
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					ul.articles-button
						li
							a(href="#") Рубрика 1
						li
							a(href="#") Рубрика 2
						li
							a(href="#") Рубрика 3
						li
							a(href="#") Рубрика 4
						li
							a(href="#") Рубрика 5
					.items
						.sizer
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-3.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-1.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
						.item
							img(src="img/image-2.jpg", alt="#")
							h5 Вы старались соответствовать родительским ожиданиям, но они все равно не довольны
							p … « Я хотела быть такой, как мой папа… Он был красивым, умным и талантливым инженером. И я хотела стать инженером, чтобы он, наконец, мог мною гордиться.
							a.link(href="#")
	.description
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					h2 Информация о книге
					.desc
						.left-block
							p Любовная магия (приворот, отворот, привлечение второй половинки, снятие венца безбрачия, избавление от одиночества)
							p Денежная магия (удача в делах и бизнесе, привлечение клиентов, трудоустройство, повышение по службе, устранение конфликтных ситуаций, чтобы сохранить работу и т.п.)
							p Снятие магического наведенного негатива (сглаза, порчи, проклятья, в том числе родового)
							p Решение кармических проблем. У каждого человека есть такие проблемы, которые он не в состоянии решить в одиночку. Если вы годами ходите по одним и тем же граблям, знаете какую-то свою черту характера, которая создает вам массу проблем, но никак не можете избавиться от этой черты - знайте, что вы имеете дело с вашей кармой, которая требует проработки.
							a.button(href="#") Призыв к действию
						.right-block
							img(src="img/image-5.jpg", alt="#")
