html/dev/layout/contacts-content.html

<section>
  <div class="contacts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="left-block">
            <p>Связаться с нами Вы можете<br/>по телефонам:</p>
            <ul class="tel icon-tel">
              <li><a href="#">8-000-000-00-00</a></li>
              <li><a href="#">8-000-000-00-00</a></li>
            </ul>
            <p>Либо написав нам на почту:</p>
            <ul class="address">
              <li><a class="icon-mail" href="#">name@example.com</a></li>
              <li><a class="icon-marker" href="#">Улица, Город</a></li>
            </ul>
            <ul class="soc">
              <li><a class="icon-whatsapp" href="#"></a></li>
              <li><a class="icon-viber" href="#"></a></li>
              <li><a class="icon-telegram" href="#"></a></li>
            </ul>
          </div>
          <div class="right-block">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

html/dev/pug/layout/contacts-content.pug
section
	.contacts
		.container
			.row
				.col-lg-12.col-md-12.col-sm-12.col-xs-12
					.left-block
						p Связаться с нами Вы можете
							br
							| по телефонам:
						ul.tel.icon-tel
							li
								a(href="#") 8-000-000-00-00
							li
								a(href="#") 8-000-000-00-00
						p Либо написав нам на почту:
						ul.address
							li
								a.icon-mail(href="#") name@example.com
							li
								a.icon-marker(href="#") Улица, Город
						ul.soc
							li
								a.icon-whatsapp(href="#")
							li
								a.icon-viber(href="#")
							li
								a.icon-telegram(href="#")
					.right-block
						#map
